@CHARSET "UTF-8";
html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-size:12px;
    background-color:rgb(255,255,255);
    font-family:Arial, Helvetica, sans-serif,宋体;
}

a{
    text-decoration:none;
}
li{
    list-style-type:none;
}
.header{
    display:block;
    width:100%;
    height:50px;
    line-height:50px;
    margin-bottom: 14px;
    background-color:rgb(192,217,95);
    outline:1px solid rgb(187,235,241);
}
.header > h3{
    padding-left:10px;
    color:rgb(0,0,0);
}
.content{
    display:block;
    width:100%;
    height:100%;
}
.content > .listFrom > .tabList {
    display:block;
    width:100%;
    height:100%;
    background-color:rgb(238, 241, 242);
}
.tabList-tr{
    cursor:pointer;
    border-bottom: dashed 1px rgb(178,178,178);
}
.tabList-tr:hover{
    background-color:rgb(52,112,204);
    color:rgb(255,255,255);
}
.tabList-td{
    text-align:center;
    /*outline:1px solid rgb(178,178,178);*/
}
.tabList-td:hover{
    background-color:rgb(192,217,95);
    color:rgb(0,0,0);
}
.tabList-th, .tabList-td{
    width:10%;
}
.tabList-th{
    font-size:16px;
    font-weight: bold;
}
.str{
    font-size:14px;
    font-weight: bold;
}
.left{
    text-align:left;
}
.layerBody{
    /*display:none;*/
    display:block;
    width:500px;
    height:300px;
    margin:100px auto 0;
    padding:5px;
}
.layer_sel{
    display:block;
    background-color:rgb(238,241,242);
}

/*layer-sel start*/
.sel-tab{
    width:100%;
}
.sel-tr{
    width:100%;
    height:30px;
    line-height:30px;
}
.sel-tr:hover{
    cursor:pointer;
    color:rgb(255,255,255);
    background-color:rgb(52,112,204);
}
.sel-tr > td{
    outline:0px solid;
}
.sel-td-info {
    width:30%;
    height:30px;
    line-height: 30px;
    padding-right:10px;
    text-align:right;
}
.sel-td{
    width:70%;
    height:30px;
    line-height:30px;
}
.layer-title{
    display:block;
    width:100%;
    height:30px;
    line-height: 30px;
    font-size:18px;
    font-weight: 500;
    text-align:center;
}
/*layer-sel end*/