@charset "UTF-8";
html,body{/* html body 同时设置的时候才能继承的设置100%的属性 */
    /* margin-top:0px; */
    /* margin-left:0px; */
    /* margin-right:0px; */
    margin:0;/* 上外和下外为0,左外和右外是自适应 */
    padding:0;
    width:100%;
    height:100%;
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif,宋体;
}
body{
    background-image:url('../../image/background/1.jpg');/* 设置背景图片 */
}
a{
    text-decoration:none;
}

.header{
    display:block;
    width:900px;
    height:50px;
    margin:0 auto;
    line-height: 50px;
    background-color:gray;
    margin-bottom:30px;

}
.header > a{
    display:block;
    float:left;
    padding-left:20px;
    padding-right:20px;
    height:50px;
    line-height: 50px;
    background-color:#d3d3d3;
    color:darkred;
    outline:1px solid rgb(178,178,178);

}
.header > a:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: #77BC71;
    color:white;
}

.main{
    width:900px;
    margin:0 auto;
    margin-top:10px;

}
.main-title{
    width:900px;

}



.b_title{
    font-size:18px;
    height:30px;
    font-weight: bold;
    color:#000000;
}

.b_title:hover,.b_content:hover{
    cursor: pointer;
    text-decoration:underline;
    color:rgb(25,25,25);
}
.b_content{
    color:#000000;
}

