<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台首页</title>
<link type="text/css" href="../css/app/app.css">
<script type="text/javascript" src="../js/plus/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="../js/app/app.js"></script>
</head>
<body>
	<div class="header">
		<div class="header-left">
			<div clas="header-logo">
				<img src="/admin/index.php/app/logoImage">
			</div>
			<div class="header-tag">
			
			</div>
		</div>
		<div class="header-right">
			<div class="header-user">
				<ul>
					<li>个人信息</li>
					<li>退出</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main">
		
	</div>
</body>
</html>