<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><?=$title;?></title>
    <?php $this->load->view("public/head"); ?>
    <link type="text/css" rel="stylesheet" href="<?=$this->config->item('base_url')?>define/css/blog_category/update.css">
    <script type="text/javascript" language="javascript" src="<?=$this->config->item('base_url')?>define/js/blog_category/update.js"></script>




</head>
<body>
<?php $this->load->view("public/top"); ?>
<?php $this->load->view("public/left"); ?>
<div class="ifr-right">
    <span>修改博客分类信息</span>
    <div class="add">
        <form id="addForm">
            <table class="add-tab">
                <tr class="add-tr">
                    <td class="right">名字:</td>
                    <td>
                        <input type="text" value="<?=$list['c_name']; ?>" name="c_name" id="c_name" class="c_name"><b class="c_name_err">*</b>
                    </td>
                </tr>
            </table>
            <div class="add-btn">
                <input type="hidden" value="1" class="isSub">
                <input type="hidden" value="<?=$list['c_id'];?>" class="mId">
                <a class="a-btn" id="sub-a">提交修改</a><span id="msg"></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>