<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>后台登录页面</title>
	<link rel="stylesheet" type="text/css" href="<?=$this->config->item('base_url')?>define/css/login/app.css">
	<script type="text/javascript" src="<?=$this->config->item('base_url')?>define/js/plus/jquery-1.11.2.js"></script>
	
	<script type="text/javascript" src="<?=$this->config->item('base_url')?>define/js/login/app.js"></script>
</head>
<body>
	<div class="login" style="width:300px;">
		<div class="header">
			<h5>登录后台</h5>
		</div>
		<div>
			<form action="www.baidu.com" method="post">
				<div class="adName">
					用户名：<input type="text" id="adName" name="adName" placeholder="用户名">
				</div>
				<div class="adPsd">
					密码：<input type="password" id="adPsd" name="adPsd">
				</div>
				<div class="adCode">
					<div id="adCodeImage" class="adCodeImage"><img src="/admin/index.php/login/adCode" id='codeImage' onclick="getCodeImage();"></div>
					<input type="text" name="adCode" id="adCode">
				</div>
				<div id="adCodeMsg" class="adCodeMsg"></div>
				<div class="sbt">
					<button  type="button" id="subButton">登录后台</button>
				</div>

			</form>
		</div>
	</div>
</body>
</html>
