<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><?=$title;?></title>
    <?php $this->load->view("public/head"); ?>
    <link type="text/css" rel="stylesheet" href="<?=$this->config->item('base_url')?>define/css/operation_log/app.css">
    <script type="text/javascript" language="javascript" src="<?=$this->config->item('base_url')?>define/js/operation_log/app.js"></script>

</head>
<body>
<?php $this->load->view("public/top"); ?>
<?php $this->load->view("public/left"); ?>

<div class="ifr-right">
    <span>后台操作日志列表</span>
    <div class="search">

    </div>
    <div class="r-table">
        <table>
            <tr class="r-tr" >
                <th width="10%">编号</th>
                <th width="10%">时间</th>
                <th width="10%">分类</th>
                <th width="10%">描述</th>
            </tr>
            <?php foreach($list as $k => $v): ?>
            <tr class="r-tr" >
                <td><?=$v["l_id"];?></td>
                <td><?=$v["l_time"];?></td>
                <td><?=$v["l_type"];?></td>
                <td><?=$v["l_info"];?></td>
            </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>

</body>
</html>