<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><?=$title;?></title>
    <?php $this->load->view("public/head"); ?>
    <link type="text/css" rel="stylesheet" href="<?=$this->config->item('base_url')?>define/css/sys_group/app.css">
    <script type="text/javascript" language="javascript" src="<?=$this->config->item('base_url')?>define/js/sys_group/app.js"></script>

</head>
<body>
<?php $this->load->view("public/top"); ?>
<?php $this->load->view("public/left"); ?>

<div class="ifr-right">
    <span>系统用户组列表</span>
    <div class="r-table">
        <table>
            <tr class="r-tr" >
                <th width="10%">编号</th>
                <th width="10%">名称</th>
                <th width="10%">备注</th>
                <th width="10%"></th>
            </tr>
            <?php foreach($list as $k => $v): ?>
            <tr class="r-tr" >
                <td><?=$v["g_id"];?></td>
                <td><?=$v["g_name"];?></td>
                <td><?=$v["g_desc"];?></td>
                <td class="r-btn">
                    <button type="button" class="layerBtn" attr="<?=$v['g_id']; ?>" data="sel">详情</button>
                    <?php if(1 != 1): ?>
                    <button type="button" class="delBtn" attr="<?=$v['g_id']; ?>" data="del">删除</button>
                    <?php endif;?>
                </td>
            </tr>
            <?php endforeach; ?>
        </table>
    </div>
</div>

</body>
</html>