<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><?=$title;?></title>
    <?php $this->load->view("public/head"); ?>
    <link type="text/css" rel="stylesheet" href="<?=$this->config->item('base_url')?>define/css/sys_menu/add.css">
    <script type="text/javascript" language="javascript" src="<?=$this->config->item('base_url')?>define/js/sys_menu/add.js"></script>




</head>
<body>
<?php $this->load->view("public/top"); ?>
<?php $this->load->view("public/left"); ?>
<div class="ifr-right">
    <span>系统菜单列表</span>
    <div class="add">
    <form id="addForm">
        <table class="add-tab">
            <tr class="add-tr">
                <td class="right">所属分类:</td>
                <td>
                    <select name="m_parent_id" id="m_parent_id">
                        <option value="0">顶级菜单</option>
                        <?php foreach($parentList as $k => $v): ?>
                            <option value="<?=$v['m_id']; ?>"><?=$v['m_name']; ?></option>
                        <?php endforeach; ?>
                    </select><b>*</b>
                </td>
            </tr>
            <tr class="add-tr">
                <td class="right">名字:</td>
                <td>
                    <input type="text" name="m_name" id="m_name" class="m_name"><b class="m_name_err">*</b>
                </td>
            </tr>
            <tr class="add-tr">
                <td class="right">URL:</td>
                <td>
                    <input type="text" name="m_url" id="m_url" class="m_url"><b class="m_url_err">*</b>
                </td>
            </tr>
            <tr class="add-tr">
                <td class="right">排序:</td>
                <td>
                    <input type="text" name="m_sort" id="m_sort" value="0" class="m_sort"><b class="m_sort_err">*</b>
                </td>
            </tr>
            <tr class="add-tr">
                <td class="right">显示:</td>
                <td>
                    <label for="m-dis-y">yes</label>
                    <input id="m-dis-y" type="radio" name="m_dis" value="1" checked="checked">
                    <label for="m-dis-n">no</label>
                    <input id="m-dis-n" type="radio" name="m_dis" value="0"><b>*</b>
                </td>
            </tr>
        </table>
        <div class="add-btn">
            <input type="hidden" value="1" class="isSub">
            <a class="a-btn" id="sub-a">添加</a><span id="msg"></span>
        </div>
    </form>
    </div>
</div>
</body>
</html>