<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title><?=$title; ?></title>
    <link type="text/css" rel="stylesheet" href="<?=$this->config->item('base_url')?>define/css/sys_menu/app.css">
    <script language="javascript" type="text/javascript" src="<?=$this->config->item('base_url')?>define/js/plus/jquery-1.11.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="<?=$this->config->item('base_url')?>define/js/sys_menu/app.js"></script>
</head>
<body>

<div class="header">
        <h3><?=$title;?></h3>
    </div>
    <div>
        <div class="content">
            <form id="listFrom" class="listFrom">
            <table class="tabList">
                <tr>
                    <th>ID</th>
                    <th>parentId</th>
                    <th>功能</th>
                    <th>URL</th>
                    <th>sort</th>
                    <th>显示</th>
                    <th></th>
                </tr>

                <?php foreach($menuList as $k=>$v): ?>
                    <tr>
                        <td><?php echo $v["m_id"]; ?></td>
                        <td><?php echo $v["m_parent_id"]; ?></td>
                        <td class="left"><?php echo $v["m_name"]; ?></td>
                        <td><?php echo $v["m_url"]; ?></td>
                        <td><?php echo $v["m_sort"]; ?></td>
                        <td><?php echo $v["m_dis"]; ?></td>
                        <td>
                            <div>
                                <button class="layerBtn" data="sel" attr="<?php echo $v['m_id']; ?>">查看</button>
                                <button class="layerBtn" data="up" attr="<?php echo $v['m_id']; ?>">修改</button>
                                <button class="layerBtn" data="del" attr="<?php echo $v['m_id']; ?>">删除</button>
                            </div>
                        </td>
                    </tr>
                <?php endforeach ?>


            </table>
            </form>
        </div>
        <!--查看start-->
        <div class="layerBody">
            <div class="layer_sel">
                <table>
                    <tr>
                        <td>
                            <span class="m_id"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="m_parent_id"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="m_name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="m_url"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="m_sort"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="m_dis"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--查看end-->
    </div>
</body>
</html>