<div class="ifr-left">
    <ul class="left-ul">
        <?php foreach($sysMenuList as $k => $v): ?>
            <li class="left-li">
                <a class="li-a"><?=$v["m_name"];?></a>
                <dt class="left-dt" id="dis">
                    <?php foreach($v["child"] as $kk => $vv): ?>

                        <dl class="left-dl">
                            <a class="dl-a" href="/admin/index.php/<?=$vv['m_url'];?>"><?=$vv["m_name"];?></a>
                        </dl>
                    <?php endforeach; ?>
                </dt>
            </li>
        <?php endforeach; ?>
    </ul>
</div>