<div class="ifr-left">
    <ul class="left-ul">
        <li class="left-li">
            <a class="li-a">系统设置</a>
            <dt class="left-dt" id="dis">
            <dl class="left-dl">
                <a class="dl-a" href="/admin/index.php/sys_menu/index">系统菜单</a>
            </dl>
            <dl class="left-dl">
                <a class="dl-a" href="/admin/index.php/">系统角色管理</a>
            </dl>
            <dl class="left-dl">
                <a class="dl-a" href="/www.3.com">系统用户组管理</a>
            </dl>
            </dt>
        </li>
        <li class="left-li">
            <a class="li-a">博客管理</a>
            <dt class="left-dt">
            <dl class="left-dl">
                <a class="dl-a" href="/www.4.com">
                    博客类别
                </a>
            </dl>
            <dl class="left-dl">
                <a class="dl-a" href="/www.5.com">
                    文章管理
                </a>
            </dl>
            </dt>
        </li>
        <li class="left-li">
            <a class="li-a">博客管理</a>
            <dt class="left-dt">
            <dl class="left-dl">
                <a class="dl-a" href="/www.6.com">
                    博客类别
                </a>
            </dl>
            <dl class="left-dl">
                <a class="dl-a" href="/www.7.com">
                    文章管理
                </a>
            </dl>
            </dt>
        </li>
        <li class="left-li">
            <a class="li-a">博客管理</a>
            <dt class="left-dt">
            <dl class="left-dl">
                <a class="dl-a" href="/www.8.com">
                    博客类别
                </a>
            </dl>
            <dl class="left-dl">
                <a class="dl-a" href="/www.9.com">
                    文章管理
                </a>
            </dl>
            </dt>
        </li>
    </ul>
</div>