<div class="ifr-header">
    <div class="header-left">
        <div clas="header-logo">
            <img src="/admin/index.php/app/logoImage">
        </div>
        <div class="header-tag">

        </div>
    </div>
    <div class="header-right">
        <div class="header-user" id="header-user">
            <span>你好:<?=$adName?></span>
            <ul class="header-ul" id="header-ul">
                <li class="header-li"><a class="header-li-a" id="userList">个人信息</a></li>
                <li class="header-li"><a class="header-li-a" id="loginOut">退出</a></li>
            </ul>
        </div>
    </div>
</div>